@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="~/Content/Custom/header-section.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/2.7.0/firebase-ui-auth.css" />
    <link href="~/Content/Custom/signInModal.css" rel="stylesheet" />
}

<div class="colorlib-loader"></div>
<div ng-controller="nav as nv" id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3">
                        <div id="colorlib-logo"><a href="#">History Geek</a></div>
                    </div>
                    <location-search lat="nv.lat" long="nv.long"></location-search>

                    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5 text-right menu-1">
                        <ul>
                            <li><a href="#features">Features</a></li>
                            <li ng-show="nv.loggedIn"><a title="Under Progress" href="#">History</a></li>
                            <li><a href="#" ng-click="nv.share()">Share</a></li>
                            <li><a href="#nearby">Nearby</a></li>
                            <li ng-model="nv.signInLink" ng-hide="nv.loggedIn"><a href="#" ng-click="nv.signIn()">Sign In</a></li>
                            <li ng-model="nv.signOutLink" ng-show="nv.loggedIn"><a href="#" ng-click="nv.signOut()">Sign Out</a></li>
                            @*<li style="font-weight: bold;"><a href="#">{{nv.userEmail}}</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="header-container">
        <div class="header-section">
            <history-points-map lat="nv.lat" long="nv.long"></history-points-map>
        </div>
    </div>
</div>
<div id="colorlib-services">
    <div id="features" class="container">
        <div class="row no-gutters">
            <div class="col-md-4 animate-box text-center aside-stretch">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-landmark"></i>
                    </span>
                    <h3>Amazing History</h3>
                    <p>
                        Historians write in the context of their own time, and with due regard to the current dominant ideas of how to interpret the past, and sometimes write to provide lessons for their own society. In the words of Benedetto Croce, "All history is contemporary history". History is facilitated by the formation of a "true discourse of past" through the production of narrative and analysis of past events relating to the human race. The modern discipline of history is dedicated to the institutional production of this discourse.
                        <a href="https://en.wikipedia.org/wiki/History" target="_blank">Read More...</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 animate-box text-center">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-postcard"></i>
                    </span>
                    <h3>Sharing with Friends/Family</h3>
                    <p>When you dream of conquering the world and you fill your agenda with daunting projects, it’s often necessary to equip yourself with a large mug of coffee and with the right people. Any successful project, be it big or small, has one thing at its core: effective collaboration, and you can achieve it with knowledge sharing.</p>
                    <p><a href="http://www.quandora.com/10-reasons-to-share-knowledge/" target="_blank">Read More...</a></p>
                </div>
            </div>
            <div class="col-md-4 animate-box text-center">
                <div class="services">
                    <span class="icon">
                        <i class="flaticon-around"></i>
                    </span>
                    <h3>Under the Hood</h3>
                    <P>
                        <b>Google Maps API</b><br />
                        Displays markers on map based on user's geolocation<br />
                    </P>
                    <P>
                        <b>Firebase Auth API</b><br />
                        Outsources user authentication for flexibility of authentication media<br />
                    </P>
                    <p>
                        <b>FourSquare Venues API</b> <br />
                        Obtains nearby venues around desired location based on categories: <em>Historic Site</em>,  <em>History Museum</em>, <em>Science Museum</em>, <em>Memorial Site</em><br />
                    </p>
                    <p>
                        <b>Twilio Notfiy API</b><br />
                        Shares information with friends and family via SMS<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nearby" class="colorlib-tour colorlib-light-grey">
    <div class="container">
        <div class="row">



            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <h2>Popular Historic Places</h2>
                <p>We love to tell our friends and family about the historic places around us.</p>
            </div>
        </div>
    </div>
    <div class="tour-wrap">
        <a href="#" class="tour-entry animate-box">
            @*<div class="tour-img" style="background-image: url(Content/Tour/images/tour-1.jpg);">*@
            <div class="tour-img" style="background-image: url('https://igx.4sqi.net/img/general/300x250/564353_8YBXRujdZeyJjojzUghMknLL3r8o0kBymr46EpGqHvc.jpg');">
            </div>
            <span class="desc">
                
                <h2>Goldstein House by Lautner</h2>
            </span>
        </a>
        <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url('https://igx.4sqi.net/img/general/300x250/498278_Vjr2hgR9GhWYeA5P5n2zc0p5OXFtumWoRyvTrkpzfSQ.jpg');">
            </div>
            <span class="desc">
                <h2>The Enplug House</h2>
            </span>
        </a>
        <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url('https://igx.4sqi.net/img/general/300x250/2402494_GKFN8nXFkhYtx21iomHb0hGVonyqWfc7Uz3pDzwrD30.jpg');">
            </div>
            <span class="desc">
                <h2>The Golden Girls House</h2>
            </span>
        </a>
        <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url('https://igx.4sqi.net/img/general/300x250/3pf6Enx2NjsSRia3sxSSBVXC_6hw2qGODCB03uYWyNE.jpg');">
            </div>
            <span class="desc">
                <h2>Marilyn Monroe's Gravesite</h2>
            </span>
        </a>
        <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url('https://igx.4sqi.net/img/general/100x100/120541__LnoAM0_kq5YP5xx3RM2BxTbawO4_qtpVc32UxiLnlc.jpg');">
            </div>
            <span class="desc">
                <h2>Beverly Hills Hotel</h2>
            </span>
        </a>
        <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url('https://igx.4sqi.net/img/general/300x250/22073018_7w98w6s772lICUFQajW3lkYKh5fvXwvnk7yv8YZRE2o.jpg');">
            </div>
            <span class="desc">
                <h2>Beverly Hills Gateway</h2>
            </span>
        </a>
        <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url('https://igx.4sqi.net/img/general/100x100/ClceYg5bgp_C5BsPa_HIAyecctf-_z7v9fExGMnongM.jpg');">
            </div>
            <span class="desc">
                <h2>Beverly Glen, Sunset Blvd</h2>
            </span>
        </a>
        <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url('https://igx.4sqi.net/img/general/100x100/126184_dMV3yXupqHoMYeFrT_mHVX_-f3BUbNNxSXtkpWkbW3I.jpg');">
            </div>
            <span class="desc">
                <h2>
                    George Michael Memorial Restroom
                </h2>
            </span>
        </a>
    </div>
</div>


<footer id="colorlib-footer" role="contentinfo">
    <div id="contact" class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 colorlib-widget">
                <h4>Be Historic</h4>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                <p>
                    <ul class="colorlib-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h4>Explore</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Nearby</a></li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 col-md-push-1">
                <h4>Contact Information</h4>
                <ul class="colorlib-footer-links">
                    <li>301 Westwood Plaza, <br> Los Angeles, CA - 90095</li>
                    <li><a href="tel://123123123">+ 1234 5678 90</a></li>
                    <li><a href="mailto:info@historygeek.com">info@historygeek.com</a></li>
                    <li><a href="#">historygeek.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart2" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                    <span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

@section scripts {
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-database.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/2.7.0/firebase-ui-auth__en.js"></script>
    <script src="~/Scripts/services/foursquareService.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "",
            authDomain: "",
            databaseURL: "",
            projectId: "",
            storageBucket: "",
            messagingSenderId: ""
        };
        firebase.initializeApp(config);
    </script>
    <script>
        (function () {
            'use strict';

            angular.module(appName).controller('nav', Nav);
            Nav.$inject = ["$scope", "$uibModal", "foursquareService"];
            function Nav($scope, $uibModal, foursquareService) {
                var vm = this;
                vm.$onInit = _init;
                vm.signIn = _signIn;
                vm.signOut = _signOut;
                vm.share = _share;
                var email = _getCookie("email");

                function _init() {
                    if (email) {
                        vm.loggedIn = true;
                        vm.userEmail = email;
                    } else {
                        vm.loggedIn = false;
                    }
                }

                function _signIn() {
                    var modalInstance = $uibModal.open({
                        animation: true,
                        component: "registrationOrSignInModalComponent",
                        size: 'md',
                        resolve: {
                        }
                    });
                    modalInstance.result.then(function (selectedItem) {
                    }, function () {
                    });
                }

                function _getCookie(cname) {
                    var name = cname + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var ca = decodedCookie.split(';');
                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }

                function _deleteCookie(name) {
                    document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                };

                function _signOut() {
                    firebase.auth().signOut().then(function () {
                        _deleteCookie("email");
                        _deleteCookie("uid");
                        window.location = "\/";
                    }).catch(function (error) {
                    });
                }

                function _share() {
                    //foursquareService.getVenuesByHistoricCategory();
                    const venues = JSON.parse(localStorage.getItem("venues"));
                    var venueName = [];
                    console.log(venues);
                    for (var i = 0; i < venues.length; i++) {
                        var list = i + 1;
                        var placeName = list + '. ' + venues[i].venue.name;
                        //var str = '';
                        //for (var j = 0; j < venues[i].venue.location.formattedAddress.length; j++) {
                        //    var address = venues[i].venue.location.formattedAddress[j];
                        //    str += venues[i].venue.location.formattedAddress[j]+' ';
                        //}
                        var prefix = venues[i].venue.photos.groups[0].items[0].prefix;
                        var suffix = venues[i].venue.photos.groups[0].items[0].suffix;
                        var imgUrl = prefix + "500x500" + suffix;
                        venueName.push(placeName);
                        //venueName.push(str);
                        venueName.push(imgUrl);
                    }
                    var textMessage = venueName.join("\n");
                    swal({
                        title: "Let's Share! Enter the phone number",
                        text: "(Please add +country code before number. ex) +1123456789",
                        content: "input",
                        button: {
                            text: "Send!",
                            closeModal: false,
                        },
                    }).then(name => {
                        if (name) {
                            foursquareService.twilioMessage(name, textMessage);
                        }
                    })
                }
            }
        })();
    </script>
    <script src="~/Scripts/services/requestService.js"></script>
    <script src="~/Scripts/services/geocodeService.js"></script>
    <script src="~/Scripts/components/historyPointsMap.js"></script>
    <script src="~/Scripts/components/locationSearch.js"></script>
    <script src="~/Scripts/components/registrationOrSignInModalComponent.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}

