@media (min-width: 1200px) {
    .header-section {
        width: 100%;
    }
}

/*@media (min-width: 992px) {
    .header-section {
        width: 970px;
    }
}*/

/*@media (min-width: 768px) {
    .header-section {
        width: 750px;
    }
}*/

.m-d-t {
    margin-top: 10px;
}

#header-container {
    height: 400px;
    margin-top: 135px;
}

#location-search {
    padding-left: 10px;
    vertical-align: middle;
    width: 80%
}

#search-button {
    vertical-align: middle;
    height: 50px;
    width: 50px;
}