.has-error {
    color: #fa755a;
    font: bolder;
}

.invalid {
    border: solid 1px #fa755a;
}

label {
    display: inline-block;
    text-align: right;
    margin-top: 15px;
}

input {
    max-width: 450px !important;
}